<div class="view-modal hidden">
  <div class="view-modal-container">
    <div class="view-left">
      <img class="view-img" />
    </div>
    <div class="view-right">
      <h2 class="view-title">${data.Title}</h2>
      <div class="view-info">
        <p class="view-price">£${data.Price}.99</p>
        <div class="view-break"></div>
        <a class="btn--view">Contact</a>
      </div>
      <div class="view-extra">
        <a class="view-condition">Used</a>
      </div>
      <p class="view-description">${data.Description}</p>
      <div class="view-close">
        <ion-icon
          class="modal-close-icon"
          name="close-outline"
          role="img"></ion-icon>
      </div>
    </div>
  </div>
</div>
